In [1]:
import pandas as pd

In [3]:
# load data
df = pd.read_csv("../data/df_cleaned.csv")

In [4]:
df.head()

,property_type,guest_capacity,location_score,review_score,amenities_count,host_response_time,season,cancellation_policy,nightly_rate,years_as_host_log,cleaning_fee_log,bedroom_encoded,min_stay_encoded
0,Standard Apartment,4,75.17,4.87,8,within an hour,peak,flexible,187.29,0.955511,3.110399,1,1
1,Standard Apartment,3,67.07,4.06,6,>24 hours,off-peak,flexible,255.64,1.629241,3.671225,1,1
2,Standard Apartment,2,76.57,4.16,10,same day,off-peak,flexible,62.82,1.193922,3.938470,0,0
3,Standard Apartment,2,88.14,3.74,11,same day,shoulder,strict,203.80,0.955511,3.593744,1,1
4,Luxury Home,4,58.63,3.37,15,same day,peak,strict,1000.00,0.641854,4.563306,2,3